@font-face {
    font-family: 'open_sansregular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	font-family: 'open_sansregular', sans-serif;
}

body {

  background: url(space-background.png);
  background-size: cover;


  padding: 0;
}

h1{
	color: #F5F5F5;
}

.view-panel {
	width: 70%;

	margin: auto;
}

.upper-part {
	border-radius: 25px 25px 0px 0px;
	background: url(header-pic.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;  

	background-size:100% 100%;

	box-shadow: 0px 10px 10px #101010;
	margin: auto;
	z-index: 2;

	padding-top: 18.75%;

	position: relative
}

.lower-part {

  	border-radius: 0px 0px 25px 25px;
  	background: #212121;
  	box-shadow: 0px 5px 10px #101010;

  	margin: auto;

  	width: 100%;

	padding-top: 47.91%;

	position: relative;

}

.control-panel {
	z-index: 2;

	border-radius: 25px 25px 25px 25px;
  	background-image: linear-gradient(45deg, #683dc1, #c5368b);
	color: #F5F5F5;

	position: absolute;
	top: 5%;
	right: 2.5%;
	width: 30%;
	height: 90%;

	box-shadow: 5px 5px 5px #101010;

}

.info-panel {
	z-index: 2;
	color: #F5F5F5;

	position: absolute;
	top: 5%;
	right: 36%;
	width: 20%;
	height: 70%;

	padding-top: 5.5%;

}


#gameManager-text {
	font-size: 2.1vw;
	top: 0%;
	left: 2.5%;
	position: absolute;
	letter-spacing: -0.025vw;
}

.game-grid {
	background: url(game-grid.png);
	background-repeat: no-repeat;
	background-size: cover;


	z-index: 2;

	left: 5%;
	top: 20%;

	height: 75%;
	width: 36%;

	position: absolute;
}

#grid-text{
	top: 6.75%;
	left: 4.8%;
	position: absolute;

	text-align: center;

	width: 100%;

	color: #BDBDBD;
	font-size: 2vw;
	letter-spacing: 0.825vw;
	line-height: 2.6vw;
}

.remaining-text{
	text-align: left;
	font-size: 1.6vw;
	color: #BDBDBD;
	left: 10%;
	position: absolute;
}
.info-text{
	text-align: center;
	font-size: 2vw;
	color: #F5F5F5;
}
.infoDatas-text{
	text-align: center;
	font-size: 2vw;
	background: linear-gradient(45deg, #c5368b, #683dc1);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#infoPlayer-text{
	font-size: 1.98vw;
	text-align: left;
	top: 14%;
	position: absolute;
}

#playerShips-text{
	top: 26%;
}
#score-text{
	top: 36%;
}
#infoEnemy-text{
	top: 54%;
	position: absolute;
}
#enemyShips-text{
	top: 65.5%;
}
#infoHighScore-text{
	top: 85%;
	position: absolute;
}
#highScore-text{
	top: 96%;
}


#control-text {

}
#system-text {
	top: 44%;
	right: 7.5%;
	position: absolute;
}

.coordinate-inputs{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.system-inputs{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.text-input {
	width: 47.8%;
	height: 10%;
  	box-sizing: border-box;
  	border-radius: 15px 15px 15px 15px;
  	border: 4px solid #BDBDBD;
	background-color: #FAFAFA;
	display: inline-block;
	position: relative;

	font-size: 2.2vw;


}

.text-input:focus {

	background-color: white;

}

#textX-input {
	left: 0px;
}

#textY-input {
	right: 0px;
}

.button {
	width: 80%;
	height: 10%;
	margin: auto;
	border: none;
	border-radius: 15px 15px 15px 15px;
	background-color: #FAFAFA;
	display: block;
	position: absolute;

	letter-spacing: 0px;
	font-weight: bold;

	transition-duration: 0.4s;
	cursor: pointer;

}

.buttonA-text{
	font-size: 2.2vw;

	  background: linear-gradient(45deg, #c5368b, #683dc1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonB-text{
	font-size: 2.2vw;

	color: #212121;
}

#confirm-button {
	top: 32%;
}

.buttonA-text:hover{
	font-size: 2.2vw;

	  background: #FAFAFA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#confirm-button:hover {
	top: 31%;
	right: 8%;
	width: 84%;
	height: 12%;

	background: linear-gradient(45deg, #661c48, #372066);

}

#restart-button {
	top: 59%;
}

#restart-button:hover {
	top: 58%;
	right: 8%;
	width: 84%;
	height: 12%;

	background: #E0E0E0;

}

#save-button {
	top: 72%;
}

#load-button {
	top: 85%;
}

.newYorkStylePic {
	border-radius: 25px 25px 25px 25px;
	background: url(nyStyle.png);
	background-size: cover;
	box-shadow: 5px 5px 5px #101010;
	display: inline-block;

	margin: auto;

	width: 10em;
	height: 10em;
}


#title{
	color: #F5F5F5;
	display: inline-block;
	position: absolute;
	text-align: center;
}

#credits-text{
	color: #FAFAFA;
	font-size: 0.8vw;
	position: absolute;
}